*
{
    box-sizing: border-box;

}
h1{
    color: crimson;
    text-align: center;
}
h5{
    color: darkgray;
    text-align:center
}
p{
    color: darkgrey;
    text-align: center;
}
.main{
    display: flex;
    flex-direction: row;
    
    background-color:aqua;
    height:500px;
    width:300vw;
    
}
button
{
text-align: center;
background-color: darkslateblue;
color: black;
}
button:hover
{
    background-color: brown;
}
#login{
    text-align: center;
}
header{
    background-color:gray;
    display: flex;
    flex-direction: row;
    padding: 30px;
    gap:20px;
    justify-content: center;

}
footer{
    background-color: gray;
    text-align: center;
    padding: 10px;
}
